In [7]:
# giving input considered as string though its number
age= input("Enter the age :")

Enter the age : '18'

In [10]:
if(age=='18'):
    print("The Person is adult")

In [11]:
# converts the input string to integer
age = int(input("Enter the age:" ))

Enter the age: 56

In [12]:
if(age>=18):
    print("The Person is adult")

The Person is adult

In [ ]:
# if -else

In [13]:
age =int(input("Enter the age :"))
if(age <=18):
    print("Children")
else:
    print("Adult")

Enter the age : 34

Adult

In [ ]:
# if elif

In [14]:
age =int(input("Enter the age :"))
if(age <=18):
    print("Children")
elif(age>=19 and age<=50):
    print("adult")
elif(age>50):
    print("senor citizen")
else:
    print("Adult")

Enter the age : 23

adult

In [ ]:
########################################################################   For Loop ################################################################

In [15]:
lists = [10,20,30,40,50,60]
for age in lists:
    if (age <=18 ):
        print("Children")
    elif(age>=19 and age<=45):
        print("adult")
    elif(age>45 and  age<=55):
        print("middle age")
    else:
        print("Senior Citizen")

Children
adult
adult
adult
middle age
Senior Citizen

In [1]:
# Finding odd or even no
num=int(input('Enter the Number : '))
if(num%2==0):
    print('Even number')
else:
    print('odd number')

Enter the Number :  23523

odd number

In [2]:
# Finding odd or even no
num=int(input('Enter the Number : '))
if(num%2==1):
    print('Odd number')
else:
    print('Even number')

Enter the Number :  6

Even number

In [4]:
#for Loop
for num in range(1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [6]:
#for Loop
for num in range(0,10,3):
    print(num)

0
3
6
9

In [20]:
#for Loop multiplication table
for num in range(1,10):
        print(num,'*',2,'=',num*2)

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18